.header {
    text-align: center;
}
.header img{
    height: 50px;
    display: inline-block;
}
.header h1{
    display: inline-block;
}
.poloska{
    background-color: blue;
    height: 40px;
}
body{
    margin: 0px;
}
.shirt{
    border: 5px;
    border-color: darkblue;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    height: 370px;
    width: 220px;
    margin: 1%;
    text-align: left;
    padding: 0% 0% 1% 0%;
}
.shirt img{
    height: 250px;
    width: 220px;
}
.shirt div{
    padding: 2%;
}
.shirt div button{
    margin-left: 5%;
}
.shirts{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    background-color: #2b2a70; 
    color: white;
    list-style-type: none;
    text-align: left; 
    padding: 5px;
}
  
.footer li{
    display: inline-block;
    font-size: 15px;
    margin-left: 10%;
}