.header {
    text-align: center;
}
.header img{
    height: 50px;
    display: inline-block;
}
.header h1{
    display: inline-block;
}
.poloska{
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    height: 40px;
    will-change: contents;
    animation-timing-function:ease-in-out;
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
body{
    margin: 0px;
}
.shirt{
    border: 5px;
    border-color: darkblue;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    height: 370px;
    width: 220px;
    margin: 1%;
    text-align: left;
    padding: 0% 0% 1% 0%;
}
.shirt img{
    height: 250px;
    width: 220px;
}
.shirt div{
    padding: 2%;
}
.shirt div button{
    background-color: #3a3892;
    color: white;
    margin-left: 10%;
    border-radius: 5px;
    padding: 2px;
}
.shirt div button:active{
    background-color: #18173c;
}
.shirts{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.footer{
    background-color: #2b2a70; 
    color: white;
    list-style-type: none;
    text-align: left; 
    padding: 5px;
}
  
.footer li{
    display: inline-block;
    font-size: 15px;
    margin-left: 10%;
}

@keyframes grow{
    0%{
        width: 0px;
    }
    100%{
        width: calc(+100%);
    }
}

.footer li:hover{
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
}