body{
    font-family: sans-serif;
    margin: 0%;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

header{
    background-color:lightblue;
    height: 35px;
}

header a{
    text-align: center;
    margin: 0% 5% 0% 5%;
}

#inis{
    text-align: right;
}


.ramkablok{
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
}

.ramka{
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 15px;
    height: 15%;
    width: 37%;
    padding: 3px;
    margin: 10px 2% 10px 2%;
}

.horizontalBox{
    background-color: #2b2a70; 
    color: white;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
}
  
.horizontalElement {
    display: inline-block;
    font-size: 20px;
    /* padding: 20px; */
}

.darkblue{
    background-color: #2b2a70; 
    color: white;
}

footer li a{
    color: white;
}

.blueline{
    height: 15px;
    width: auto;
    background-color: #2b2a70; 
}

#logo{
    background-color: white; 
    color:black;
    text-align: right;
    padding: 0px;
}

#logo img{
    display: inline-block;
    left: 100px;
    position:absolute;
}

#logo h1{
    display: inline-block;
}

footer li{
    padding: 20px;
}