table, th, td {
    border: 1px solid;
    margin: auto;
    border-collapse: collapse;
    /* border-radius: 3px; */
}
button{
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}
button:active{
    background-color: gray;
    color: grey;
}
body{
    text-align: center;
}